@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Poppins:wght@400;500;700&family=Montserrat:wght@400;500;700&family=Open+Sans:wght@400;500;700&display=swap");

$primary-background: rgb(21, 46, 84); // Dark gray or near-black
$secondary-background: #080808; // Slightly lighter than primary
$primary-accent: #6a0dad; // Deep purple
$secondary-accent: #ff69b4; // Hot Pink
$text-color: #ffffffa7; // White or off-white for text

// Font variables
$primary-font: "Roboto", sans-serif;
$title-font: "Poppins", sans-serif;
$accent-font: "Montserrat", sans-serif;
$secondary-font: "Open Sans", sans-serif;
