@use "../styles/variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  min-height: 100dvh;
  background-color: v.$primary-background;
  font-family: v.$primary-font;
  color: v.$primary-text-color;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
